<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <div class="text-center">
      <h1 class="title">ViewTalent</h1> 
      <h3 class="title mt-1">Talento a demanda!</h3>
      <%= link_to "Contactanos", "#contacto", class: "btn btn-flat  btn-rounded waves-effect mt-4" %>
    </div>
  </div>
</div>

<%# nuestros servicios %>
<section  class="site-section m-lg-4 shadow-sm p-sm-2 p-lg-5 m-sm-2 my-sm-5 bg-white rounded" id="servicios">
  <div class="container">
    <div class="p-4 font-weight-bol text-center">
      <h2 >¿Qué hacemos?</h2>
    </div>
    <div class="row text-sm-center p-4 p-md-2">
      <div class="col-md-6 col-lg-6">
        <div class="row p-3 py-2">
          <div class="align-items-sm-center col-md-3 col-lg-3 p-2">
            <%= cl_image_tag("busqueda.svg", :effect=>"opacity_threshold:100", :width=>120, :crop=>"scale") %>
          </div>
          <div class="col-md-9 col-lg-9 p-2">
            <h3 class="text-title "> Talento a demanda </h3>
            <p class="mb-4 text-justify">Conocemos la importancia del talento humano para el desarrollo de las organizaciones y con este servicio te garantizamos el hallazgo de esa persona que estás buscando. Manejamos el proceso completo de reclutamiento, búsqueda y selección. Desde ayudarte a definir el perfil, la búsqueda en las mejores bases del país y en medios digitales, las entrevistas llevadas a cabo por psicólogos especializados en evaluación de softs skills y variables conductuales, hasta el asesoramiento en la elección final sobre la terna sobresaliente </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div class="row p-3 py-2">
          <div class="align-items-sm-center col-md-3 col-lg-3 p-2">
            <%= cl_image_tag("objetivo.png", :width=>120, :crop=>"scale") %>
          </div>
        <div class="col-md-9 col-lg-9 p-2">
          <h3 class="text-title"> Head Hunting </h3>
          <p class="mb-4 text-justify">Si una compañía tiene éxito es porque cuenta con profesionales capaces de liderar un proyecto. Una metodología diferente con respecto a los procesos de selección tradicionales, enfocada en puestos directivos, gerenciales o cargos estratégicos. Este tipo de servicio tiene como objetivo evaluar, no solamente las competencias clásicas que destacan a un candidato, sino también que los valores y visión de la compañía estén alineados. </p>
        </div>
      </div>
    </div>
    <div class="row text-sm-center">
      <div class="col-md-6 col-lg-6">
        <div class="row p-3 py-2">
          <div class="align-items-sm-center col-md-3 col-lg-3 p-2">
            <%= cl_image_tag("logro_tbp88y.png", :width=>110, :crop=>"scale")%>
          </div>
          <div class="col-md-9 col-lg-9 p-2">
            <h3 class="text-title "> Evaluación de potencial </h3>
            <p class="mb-4 text-justify">Si necesitas valorar los recursos, capacidades, competencias y aptitudes de tus candidatos internos para que ocupen nuevas posiciones, te ayudamos a hacerlo. El resultado de esta evaluación de potencial te permitirá definir las estrategias a utilizar para desarrollar el talento humano con la que tu organización ya cuenta.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div class="row  p-3 py2">
          <div class="align-items-sm-center col-md-3 col-lg-3 p-2">
            <%= cl_image_tag("cv_jzlmxk.png", :width=>110, :crop=>"scale")%>
          </div>
          <div class="col-md-9 col-lg-9 p-2">
            <h3 class="text-title"> Evaluación psicotécnica </h3>
            <p class="mb-4 text-justify">Llevada a cabo por nuestros psicólogos especializados, una evaluación psicotécnica te permitirá conocer objetivamente capacidades y aptitudes del candidato mediante una entrevista psicológica profunda y la administración de tests psicométricos y proyectivos. Junto con la entrega del informe confeccionado por el profesional matriculado, te brindamos asesoría por cualquier duda que pueda surgirte.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# quienes somos %>
<div id="nosotros" class="site-section my-lg-5 p-sm-2 p-lg-5 " id="about-section">
  <div class="container  align-item-center  shadow p-5 mb-5 bg-dark rounded ">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center pb-4">
          <h2 class="text-white h1 site-section-heading">¿Quiénes Somos?</h2>
        </div>
      </div>
      <div class="col-md-5 ml-auto mb-5 order-md-2  " data-aos="fade">
        <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-md-6 order-md-1 aos-init aos-animate" data-aos="fade">
        <div class="row">
          <div class="col-12 mb-4">
            <p class="lead text-white mt-lg-4">Somos una empresa joven con la misión de brindar un servicio completo de consultoría en talento humano. El proyecto nació como una solución para satisfacer las necesidades de las organizaciones en los nuevos tiempos que maneja el mercado. Nuestro servicio de excelente calidad, en tiempos acotados y al mejor precio del mercado es lo que nos diferencia de la competencia. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>




  <%# por que elegirnos %>

<div id="elegirnos" class="container p-sm-2 p-lg-5 shadow-sm mb-5 bg-white rounded">
  <div class="row align-items-stretch ">
    <div class="col-12 w-100 px-5 py-4">
      <div class="text-center pb-4 text-black font-weight-bol">
        <h2>¿Por qué elegirnos? </h2>
      </div>
      <div class="row d-flex">

        <div class="col-lg-6  align-items-center">
          
            <img src="https://images.unsplash.com/photo-1488998527040-85054a85150e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image" class=" img-fluid mt-md-4">
          
        </div>
        <div class="col-lg-6 ">
          <div class="mb-5 mt-sm-3 mt-md-0">
            <p class="text-black lead">Nuestro secreto es nuestra gigantesca y actualizada base de datos junto con la amplia experiencia de nuestros profesionales. Rápidamente podemos encontrar desde perfiles operativos hasta puestos estratégicos en tiempos record, siempre manteniendo nuestro estándar de calidad de excelencia.  La combinación de nuestros profesionales con sólidas carreras en búsqueda de talento y la mejor base de datos del país nos hacen la opción perfecta para convertirnos en los socios estratégicos que tu empresa necesita. No dudes en contactarnos ante cualquier consulta! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
 <%#----------------- contactenos----------- %>
<section class="site-section p-2" id="contact-section">
      <div id="contacto" class="container-fluid align-items-stretchcol-12 bg-light w-100 ft-feature-1-content px-2 py-4  p-5 shadow-sm p-3 mb-5 bg-light rounded">
        <div class="container">
          <div class="row  mb-5">
            <div class="col-12 text-center ">
              <h2 class="text-black h1 site-section-heading text-large">Contáctanos</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 mb-5">
              <form   action="https://formspree.io/f/xoqplyow" method="POST" class="p-sm-1 p-md-4 p-lg-5 bg-light">

                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="fname">Nombre</label>
                    <input type="text" name="name" id="fname" class="form-control rounded-pill">
                  </div>
                  <div class="col-md-6">
                    <label class="text-black" for="lname">Apellido</label>
                    <input type="text" name="apellido"id="lname" class="form-control rounded-pill">
                  </div>
                </div>

                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="email">Correo electrónico</label> 
                    <input type="text" name="_replyto" id="email" class="form-control rounded-pill">
                  </div>
                </div>

                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="subject">Asunto</label> 
                    <input type="subject" name="asunto" id="subject" class="form-control rounded-pill">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="message">Mensaje</label> 
                    <textarea name="message" cols="30" rows="7" class="form-control rounded" placeholder="Envié su consulta aquí..."></textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <input type="submit" value="Enviar" class="btn btn-outline-dark btn-lg">
                  </div>
                </div>

    
              </form>
            </div>
            <div class="col-md-5  d-flex align-items-center">
              
              <div class="p-4 mb-3 bg-light">
                <p class="mb-0 font-weight-bold">Telefono</p>
                <p class="mb-4"><a href="#">011-15-4038-7291</a></p>

                <p class="mb-0 font-weight-bold">Dirección</p>
                <p class="mb-0"><a href="#">info@viewtalent.com</a></p>

              </div>
              
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <%= render 'shared/footer' %>