<!DOCTYPE html>
<html>
  <head> 
    <meta name="google-site-verification" content="tc95mDy_NlPnaknvrtCMQh8eo1c3mLgevM0J14mHu7o" /> 
    <title>ViewTalent - Talento a demanda!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Somos una consultora de RRHH especializada en la atracción de talento. Reclutamiento, búsqueda y selección.">
    <meta charset="utf-8">
    <%= favicon_link_tag %>
    <link rel=”shortcut icon” type=”image/ico” href=”/favicon.ico”/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
  <div class="min-vh-100 w-100 d-flex flex-column">
  
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  </body>
</html>